/* Global Styles */
:root {
	--dark-color: #141414;
	--light-color: #f4f4f4;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
	background: #000;
	color: #999;
}

ul {
	list-style: none;
}

h1,
h2,
h3,
h4 {
	color: #fff;
}

a {
	color: #fff;
	text-decoration: none;
}

p {
	margin: 0.5rem 0;
}

img {
	width: 100%;
}

.showcase {
    position: relative;
    width: 100%;
    height: 93vh; 
    overflow: hidden; 
}

.showcase-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: -1; 
}

.showcase-top {
	position: relative;
	z-index: 2;
	height: 90px;
}

.showcase-top img {
	width: 90px;
	position: absolute;
	top: 60%;
	left: 5%;
	transform: translate(-50%, -50%);
	margin-left: 0;
}

.showcase-top a {
	position: absolute;
	top: 50%;
	right: 0;
	transform: translate(-50%, -50%);
}

.showcase-content {
	position: relative;
	z-index: 2;
	width: 65%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 9rem;
    
    & p,h1{
        color: yellow;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        
    }
    
}

.showcase-content h1 {
	font-weight: 700;
	font-size: 5.2rem;
	line-height: 1.1;
	margin: 0 0 2rem;
}

.showcase-content p {
	text-transform: uppercase;
	color: #fff;
	font-weight: 400;
	font-size: 1.9rem;
	line-height: 1.25;
	margin: 0 0 2rem;
}

/* Tabs */
.tabs {
	background: var(--dark-color);
	padding-top: 1rem;
	border-right: none;
    margin-bottom: 20px;
}

.tabs .container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 1rem;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.tabs p {
	font-size: 1.2rem;
	padding-top: 0.5rem;
    text-transform: uppercase;
}

.tabs .container > div {
	padding: 1rem;
}

.tabs .container > div:hover {
	color: #ffffff;
	cursor: pointer;
}

.tab-border {
	border-bottom: rgb(253, 135, 0) 3px solid;
}

/* Tab Content */
.tab-content-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.tab-content-item {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(32% - 27px);
    padding: 20px;
    border-radius: 5px;
    background-color: #000000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    position: relative; 
}

.image-container {
    position: relative;
    height: 200px; 
}

.image-container i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem; 
    color: rgba(255, 255, 255, 0.8); 
    z-index: 1; 
}

.image-container img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 5px;
    z-index: 0; 
	transition: transform 0.3s ease-out; 
}
.image-container:hover img {
    transform: scale(1.1); 
}

.image-container:hover i {
    transform: translate(-50%, -50%) scale(1.5); 
}

.tab-text-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px; 
	
}

.tab-text {
    flex: 1 1 calc(25% - 20px);
    max-width: calc(25% - 20px);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
	
	
}

.tab-text p {
    margin: 0;
	
}

/* <---------- Text below -------------> */

.tab-text-container {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 5px;
}

.tab-text {
    flex: 1 1 calc(25% - 20px); 
    max-width: calc(25% - 20px); 
    padding: 20px;
    border-radius: 5px;
    text-align: start;
}

.tab-text p {
    margin: 0; 
}
/* <-------- Footer -------*/

.section-divider {
    margin-top: 13%;
    border-top: 1px solid #a1a1a1;
    
}

.footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
    margin-top: 7%;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 5rem;
}

.footer li {
	line-height: 2;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}





/* Buttons */
.btn {
	display: inline-block;
	background: rgb(253, 135, 0);
	color: #fff;
	padding: 0.2rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 5px;
    

}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 1.5rem;
	padding: 0.5rem 1rem;
	text-transform: uppercase;
    margin-top: 9%;
}



