body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  }
  .navbar {
    background-color: #33333300;
    padding: 15px 0;
    border-bottom:  rgb(253, 135, 0) 0.5px solid;
  }
  
  .navbar-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .nav-item {
    display: inline-block;
    margin: 0 10px;
  }
  
  .nav-link {
    color: #000000;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
  }
  
  .nav-link:hover {
    background-color: #555;
  }
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    padding: 20px;
  }
  
  .gallery-item {
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .gallery-item img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  